/* color pallette */
$primary-color: #1b262c;
$secondary-color: #0f4c75;
$third-color: #3282b8;
$fourth-color: #bbe1fa;
$link-hover-color: rgba(238, 238, 238, 0.541);

// fonts
$font-size: 1rem;
$body-font-size: 1rem;
$font-style: normal;
$font-weight: normal;
$font-color: $fourth-color;
$font-family: 'Montserrat', sans-serif;
$line-height: 1.6;

$h1: 4rem;
$h2: 3rem;
$h3: 2rem;
$h4: 1.75rem;
$h5: 1.5rem;

// spacing
$padding: 1rem;
$margins: 1rem;
$content-padding: 60px 0;

// rounded corners
$border-radius: 10%;
